

@import './breakPoints';

* {
  box-sizing: border-box;
}

body {
  font-family: "REM", sans-serif;
  background: url("../images/yuriy-kovalev-nN1HSDtKdlw-unsplash.jpg") no-repeat center fixed;
  background-size: cover;

  .container {
    min-height: 100vh;
    padding: 20px;

    .site-header {
      background-color: #222;
      color: #fff;
      padding: 20px;
      text-align: center;

      .site-title {
        font-size: 24px;
        text-transform: uppercase;
        margin: 0;

        @include respond-to("small") {
          font-size: 36px;
        }

        @include respond-to("medium") {
          font-size: 48px;
        }
      }
    }

    #form_row {
      width: 100%;

      @include respond-to("small") {
        width: 90%;
      }

      @include respond-to("medium") {
        width: 75%;
      }

      @include respond-to("large") {
        width: 50%;
      }

      #city_error,
      #date_error {
        display: none;
      }
    }

    .flight_data {
      margin-top: 30px;

      @include respond-to("small") {
        text-align: center;
      }

      @include respond-to("large") {
        margin-top: 50px;
      }
    }
  }
}
